# Auto detect text files and perform LF normalization
* text=auto
*.ts linguist-vendored
*.tsx linguist-vendored
*.js linguist-vendored
*.jsx linguist-vendored
*.json linguist-vendored
*.md linguist-vendored
*.mdx linguist-vendored